@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#ext_menu-0 .navbar-toggler {
  color: #000;
}
#header1-0 H1 {
  font-size: 48px;
}


#header4-0 H1 {
  font-size: 60px;
  color: #ff8600;
  font-family: 'Slabo 27px', serif;
}
#header4-0 B {
  font-family: 'Lora', serif;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-section-title {
  text-align: left;
  color: #ff2600;
}
#msg-box3-0 .lead P {
  text-align: left;
  color: #cc5d2d;
}
#msg-box3-0 .lead H2 {
  text-align: left;
  color: #ff3000;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1 .mbr-section-title {
  text-align: center;
  color: #ff2600;
}
#msg-box3-1 .lead H2 {
  text-align: center;
  color: #d75629;
}
#msg-box3-1 .lead P {
  text-align: center;
  color: #d45629;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-section-title {
  color: #ed300f;
}
#msg-box3-0 .lead P {
  color: #f16410;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .lead H2 {
  text-align: center;
  color: #ff3000;
}
#msg-box3-0 .mbr-section-title {
  color: #ff4300;
}
#msg-box3-0 .lead UL {
  color: #ff5600;
}

#menu-0 .navbar-toggler {
  color: #000;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  color: #ff4300;
}
#msg-box3-0 .lead P {
  color: #ff6000;
}
#msg-box3-0 .lead H1 {
  color: #ff4300;
}
#msg-box3-0 .lead UL {
  color: #da5f21;
}
